.svg-class {
  width: 500px;
  height: 500px;
}

.hour-circle, .second-circle {
  fill: none;
  stroke: black;
  stroke-width: 1%;
}

.hour-circle {
  stroke-width: 4%;
}

.second-circle {
  stroke-width: 1.5%;
}

.second-line {
  stroke: red;
  stroke-width: 0.5%;
}

.minute-line {
  stroke: green;
  stroke-width: 0.7%;
}

.hour-line {
  stroke: blue;
  stroke-width: 1.2%;
}
